<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWebSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>servlet.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>servlet.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postServlet</display-name>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>servlet.postServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/postServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdateServlet</display-name>
    <servlet-name>userupdateServlet</servlet-name>
    <servlet-class>servlet.userupdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdateServlet</servlet-name>
    <url-pattern>/userupdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregisterServlet</display-name>
    <servlet-name>userregisterServlet</servlet-name>
    <servlet-class>servlet.userregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregisterServlet</servlet-name>
    <url-pattern>/userregisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userprofServlet</display-name>
    <servlet-name>userprofServlet</servlet-name>
    <servlet-class>servlet.userprofServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userprofServlet</servlet-name>
    <url-pattern>/userprofServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userdeleteServlet</display-name>
    <servlet-name>userdeleteServlet</servlet-name>
    <servlet-class>servlet.userdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdeleteServlet</servlet-name>
    <url-pattern>/userdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Helper</display-name>
    <servlet-name>Helper</servlet-name>
    <servlet-class>servlet.Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helper</servlet-name>
    <url-pattern>/Helper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregistconServlet</display-name>
    <servlet-name>userregistconServlet</servlet-name>
    <servlet-class>servlet.userregistconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregistconServlet</servlet-name>
    <url-pattern>/userregistconServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregistre</display-name>
    <servlet-name>userregistre</servlet-name>
    <servlet-class>servlet.userregistre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregistre</servlet-name>
    <url-pattern>/userregistre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregistreServlet</display-name>
    <servlet-name>userregistreServlet</servlet-name>
    <servlet-class>servlet.userregistreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregistreServlet</servlet-name>
    <url-pattern>/userregistreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregistServlet</display-name>
    <servlet-name>userregistServlet</servlet-name>
    <servlet-class>servlet.userregistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregistServlet</servlet-name>
    <url-pattern>/userregistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginreServlet</display-name>
    <servlet-name>loginreServlet</servlet-name>
    <servlet-class>servlet.loginreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginreServlet</servlet-name>
    <url-pattern>/loginreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeServlet</display-name>
    <servlet-name>likeServlet</servlet-name>
    <servlet-class>servlet.likeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeServlet</servlet-name>
    <url-pattern>/likeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likedeleteServlet</display-name>
    <servlet-name>likedeleteServlet</servlet-name>
    <servlet-class>servlet.likedeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likedeleteServlet</servlet-name>
    <url-pattern>/likedeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userpostdeleteServlet</display-name>
    <servlet-name>userpostdeleteServlet</servlet-name>
    <servlet-class>servlet.userpostdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpostdeleteServlet</servlet-name>
    <url-pattern>/userpostdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>post2Servlet</display-name>
    <servlet-name>post2Servlet</servlet-name>
    <servlet-class>servlet.post2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post2Servlet</servlet-name>
    <url-pattern>/post2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminpost</display-name>
    <servlet-name>adminpost</servlet-name>
    <servlet-class>servlet.adminpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpost</servlet-name>
    <url-pattern>/adminpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminuser</display-name>
    <servlet-name>adminuser</servlet-name>
    <servlet-class>servlet.adminuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminuser</servlet-name>
    <url-pattern>/adminuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminpostServlet</display-name>
    <servlet-name>adminpostServlet</servlet-name>
    <servlet-class>servlet.adminpostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpostServlet</servlet-name>
    <url-pattern>/adminpostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminuserServlet</display-name>
    <servlet-name>adminuserServlet</servlet-name>
    <servlet-class>servlet.adminuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminuserServlet</servlet-name>
    <url-pattern>/adminuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepostServlet</display-name>
    <servlet-name>deletepostServlet</servlet-name>
    <servlet-class>servlet.deletepostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepostServlet</servlet-name>
    <url-pattern>/deletepostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepostadminServlet</display-name>
    <servlet-name>deletepostadminServlet</servlet-name>
    <servlet-class>servlet.deletepostadminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepostadminServlet</servlet-name>
    <url-pattern>/deletepostadminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepostprofServlet</display-name>
    <servlet-name>deletepostprofServlet</servlet-name>
    <servlet-class>servlet.deletepostprofServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepostprofServlet</servlet-name>
    <url-pattern>/deletepostprofServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admintitleServlet</display-name>
    <servlet-name>admintitleServlet</servlet-name>
    <servlet-class>servlet.admintitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admintitleServlet</servlet-name>
    <url-pattern>/admintitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userprof2Servlet</display-name>
    <servlet-name>userprof2Servlet</servlet-name>
    <servlet-class>servlet.userprof2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userprof2Servlet</servlet-name>
    <url-pattern>/userprof2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindeletetitleServlet</display-name>
    <servlet-name>admindeletetitleServlet</servlet-name>
    <servlet-class>servlet.admindeletetitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeletetitleServlet</servlet-name>
    <url-pattern>/admindeletetitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminprofServlet</display-name>
    <servlet-name>adminprofServlet</servlet-name>
    <servlet-class>servlet.adminprofServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminprofServlet</servlet-name>
    <url-pattern>/adminprofServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindeleteuserServlet</display-name>
    <servlet-name>admindeleteuserServlet</servlet-name>
    <servlet-class>servlet.admindeleteuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeleteuserServlet</servlet-name>
    <url-pattern>/admindeleteuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdatenameServlet</display-name>
    <servlet-name>userupdatenameServlet</servlet-name>
    <servlet-class>servlet.userupdatenameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdatenameServlet</servlet-name>
    <url-pattern>/userupdatenameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdatecomment</display-name>
    <servlet-name>userupdatecomment</servlet-name>
    <servlet-class>servlet.userupdatecomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdatecomment</servlet-name>
    <url-pattern>/userupdatecomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdatepasswordServlet</display-name>
    <servlet-name>userupdatepasswordServlet</servlet-name>
    <servlet-class>servlet.userupdatepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdatepasswordServlet</servlet-name>
    <url-pattern>/userupdatepasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminprofsessionServlet</display-name>
    <servlet-name>adminprofsessionServlet</servlet-name>
    <servlet-class>servlet.adminprofsessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminprofsessionServlet</servlet-name>
    <url-pattern>/adminprofsessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminupdatenameServlet</display-name>
    <servlet-name>adminupdatenameServlet</servlet-name>
    <servlet-class>servlet.adminupdatenameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatenameServlet</servlet-name>
    <url-pattern>/adminupdatenameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminupdatecommentServlet</display-name>
    <servlet-name>adminupdatecommentServlet</servlet-name>
    <servlet-class>servlet.adminupdatecommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatecommentServlet</servlet-name>
    <url-pattern>/adminupdatecommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminupdatepasswordServlet</display-name>
    <servlet-name>adminupdatepasswordServlet</servlet-name>
    <servlet-class>servlet.adminupdatepasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatepasswordServlet</servlet-name>
    <url-pattern>/adminupdatepasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindeletepostServlet</display-name>
    <servlet-name>admindeletepostServlet</servlet-name>
    <servlet-class>servlet.admindeletepostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeletepostServlet</servlet-name>
    <url-pattern>/admindeletepostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>like2Servlet</display-name>
    <servlet-name>like2Servlet</servlet-name>
    <servlet-class>servlet.like2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like2Servlet</servlet-name>
    <url-pattern>/like2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userprof2sessionServlet</display-name>
    <servlet-name>userprof2sessionServlet</servlet-name>
    <servlet-class>servlet.userprof2sessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userprof2sessionServlet</servlet-name>
    <url-pattern>/userprof2sessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likedelete2Servlet</display-name>
    <servlet-name>likedelete2Servlet</servlet-name>
    <servlet-class>servlet.likedelete2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likedelete2Servlet</servlet-name>
    <url-pattern>/likedelete2Servlet</url-pattern>
  </servlet-mapping>
</web-app>